@use 'v';

.paraliza-body{
    overflow: hidden;
}



.container-cabecalho{
    width: 100%;
    padding: 15px;
    padding-top: 10px;
    position: fixed;
    z-index: 10;
    font-family: "Open sans", sans-serif;
    padding-bottom: 0;
    .content-logo-btn-menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:15px 15px;
        border-radius: 20px;

        .logo{
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            a{
                font-size: 0;
                width: 40px;
                height: 32px; 
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                background-image: url(../../img/tema/logo.svg);
            }
        }

        .logo-escuro{
            a{
                color: #161925;
            }
        }

        .btn-menu{
            width: 20px;
            height: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            transition: .3s;
            cursor: pointer;
            z-index: 2;

            .linha-btn{
                display: block;
                width: 100%;
                height: 4px;
                background-color:#1F2B35;
                transition: .3s;
                border-radius: 2px;
            }
        }
        .btn-menu-escuro{
            
            .linha-btn{
                background-color: v.$cor-secundaria;
            }
        }

        .btn-menu-aberto{
            justify-content: center;
            .linha-btn{background-color: #fff;}
            .linha-btn-2{
                margin-top: -4px;
                transform: translateX(-110%);
            }
            .linha-btn-1{
                transform: rotate(45deg);
            }
            .linha-btn-3{
                margin-top: -4px;
                transform: rotate(-45deg);
            }
        }
    }
}

.cabecalho-branco{
    .content-logo-btn-menu{
        background-color: rgba(31,43,53,1);
        .btn-menu{
            .linha-btn{
                background-color: #FFF;
            }
        }
    }

    
}

//Configurações do menu

.content-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;
    left: -100%;

    .menu-principal{
        width: 84%;
        height: 100%;
        background-color: v.$cor-branco;
        transform: translateX(-50%);
        transition: .5s;
        overflow: hidden;

        .ul-items-menu{
            width: 100%;
            border-top: 1px solid v.$cinza-claro;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-top: 20px;
            li.content-btn-entrar{
                width: 100%;
                

                a{
                    width: 100%;
                    display: flex;
                    padding: 12px 30px;
                    align-items: center;
                    font-size: 1.1em;
                    color: #161925;
                    font-weight: 900;
                    span#label{
                        margin-right: 5px;
                    }
                    span#icon{
                        display: block;
                        width: 20px;
                        height: 20px;
                        background-image: url(../../img/tema/icon-entrar.svg);
                    }
                }

            }

            li.item{
                width: 100%;
                a{
                    width: 100%;
                    display: block;
                    padding: 12px 30px;
                    font-size: 1.1em;
                    color: #161925;
                    font-weight: 900;
                }
            }
            
            li.item:hover a{
                color: v.$cor-branco;
                background-color: #3BF4FB;
            }
            
            .content-submenu{
                .btn-submenu{
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    .btn-submenu-icon{
                        transition: .3s;
                        color: #161925;
                    }
                }
                .btn-submenu-ativo{
                    color: #FFFFFF;
                    background-color: #3BF4FB;
                    .btn-submenu-icon{
                        transform: rotate(90deg);
                        transition: .3s; 
                    }
                }
                .submenu{
                    padding-left: 12px;
                    max-height: 0;
                    overflow: hidden;
                    transition: .4s;
                    .sub-item{
                        a{
                            background-color: #FFF;
                            color: #161925;

                        }
                    }
                    .sub-item:hover a{
                        background-color: #2274A5;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.content-menu-aberto{
    top:0;
    left: 0;
    transition: .3s;
    
    .menu-principal{
        transform: translateX(0);
        transition: .6s;
    }

    .btn-menu{
        transition: .3s;
    }
}

@media screen and (min-width: 768px) {

    .container-cabecalho{
        .content-logo-btn-menu{
            .logo{

                a{
                    width: 130px;
                    height: 32px; 
                    background-image: url(../../img/tema/logo-desktop.svg);
                }
            }
        
        }
    }

    .cabecalho-branco{
        .content-logo-btn-menu{
            .logo{

                a{
                    width: 130px;
                    height: 32px; 
                    background-image: url(../../img/tema/logo-desktop-claro.svg);
                }
            }
        
        }
        .content-logo-btn-menu.menu-aberto{
            .logo{
                a{
                    width: 130px;
                    height: 32px; 
                    background-image: url(../../../../img/tema/logo-desktop.svg);
                }
            }
        }
    }


}

//Mediaqueries 
@media screen and (min-width: 990px) {
    .container-cabecalho{
        .content-logo-btn-menu{
            .btn-menu{
                display: none;
            }
    
            .content-menu{
                height: 100%;
                width: auto;
                position: relative;
                left: inherit;
                background-color: transparent;
                transition: none;
                
                .menu-principal {
                    width: auto;
                    background-color: transparent;
                    transform: none;
                    padding: 0;
                    transition: none;
        
                    .ul-items-menu{
                        padding: 0;
                        height: 100%;
                        flex-direction: row;
                        border:none;

                        li.content-btn-entrar{
                            width: 100%;
            
                            a{
                                font-size: 1em;
                                color: #161925;
                            }
            
                        }
        
                        
                        li.item{
                            width: auto;
                            margin-right: 20px;
                            a{
                                font-size: 1em;
                                color: #161925;

                            }
                        }
                        li.item:last-child{margin-right: 0;}
                        
                        li.item:hover a{
                            color:#fff ;
                            border-radius: 4px;
                            background-color: #00aaff;
                        }
                        .content-submenu:hover .btn-submenu-ativo{
                            border-radius: 4px;
                        }
                        .content-submenu{
                            .btn-submenu{
                                display: flex;
                                justify-content: space-between;
                                .btn-submenu-icon{
                                    transition: .3s;
                                    color: #FFF;
                                    transform: rotate(90deg);
                                    margin-left: 30px;
                                }
                            }
                            .btn-submenu-ativo{
                                color:#FFF ;
                                background-color: #3BF4FB;
                                .btn-submenu-icon{
                                    transform: rotate(0deg);
                                    transition: .3s; 
                                }
                            }

                            .submenu{
                                padding-left: 0;
                                max-height: 0;
                                overflow: hidden;
                                transition: .2s;
                                position: absolute;
                                border-radius: 0 0 3px 3px;
                                padding-top: 10px;
                                .sub-item{
                                    a{
                                        background-color: #3BF4FB;
                                        color: #FFF;
                                        border-radius: 0;
                                        cursor: pointer;
            
                                    }
                                }
                                .sub-item:hover a{
                                    color: #FFF;
                                    background-color: #00aaff;
                                }
                            }
                            
                        }
                    }
                }
            }
    
        }
    }
    .cabecalho-branco{
        
        .content-logo-btn-menu{
    
            .content-menu{
    
                .menu-principal{
    
                    .ul-items-menu{
    
                        li.item{
                            a{
                                color: #FFF;
                            }
                        }
                        li.content-btn-entrar{
                            width: 100%;
            
                            a{

                                color: #FFFFFF;
                                span#icon{
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    background-image: url(../../../../img/tema/icon-entrar-light.svg);
                                }
                                
                            }
            
                        }
                    }
                }
            }
            
        }
        .content-logo-btn-menu{
            .content-menu-aberto{
            
                .logo{
    
                    a{
                        width: 130px;
                        height: 32px; 
                        background-image: url(../../img/tema/logo-desktop.svg);
                    }
                }
            
            }
        }
        
    }
}

//Mediaqueries 
@media screen and (min-width: 1280px) {
    .container-cabecalho{
        padding: 8px 0;
        padding-bottom: 0;
        .content-logo-btn-menu{
            width: 1320px;
            margin: 0 auto;
        }
    }
}