.paraliza-body {
  overflow: hidden;
}

.container-cabecalho {
  width: 100%;
  position: fixed;
  z-index: 10;
  font-family: "Open sans", sans-serif;
  padding-bottom: 0;
  background: #FFFFFF;
  border-bottom-color: #000;
}
.container-cabecalho .content-logo-btn-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border-radius: 20px;
}
.container-cabecalho .content-logo-btn-menu .logo {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.container-cabecalho .content-logo-btn-menu .logo a {
  font-size: 0;
  width: 40px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../../img/tema/logo.svg);
}
.container-cabecalho .content-logo-btn-menu .btn-menu {
  width: 24px;
  height: 20px;
  display: flex;
  padding: 2px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn-1, .container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn-3 {
  width: 80%;
}
.container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn-2 {
  width: 100%;
}
.container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn {
  display: block;
  height: 2px;
  background-color: #1F2B35;
  transition: 0.3s;
  border-radius: 2px;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-escuro .linha-btn {
  background-color: #333333;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto {
  justify-content: center;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn {
  background-color: #fff;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-2 {
  margin-top: -2px;
  transform: translateX(-110%);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-1 {
  width: 100%;
  transform: rotate(45deg);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-3 {
  width: 100%;
  margin-top: -2px;
  transform: rotate(-45deg);
}

.container-cabecalho-dark {
  background: rgba(255, 255, 255, 0.1); /* Transparência */
  backdrop-filter: blur(10px); /* Efeito de vidro */
  -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
}
.container-cabecalho-dark .content-logo-btn-menu .btn-menu .linha-btn {
  background-color: #FFF;
}

.content-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  left: -100%;
}
.content-menu .menu-principal {
  width: 84%;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(-50%);
  transition: 0.5s;
  overflow: hidden;
}
.content-menu .menu-principal .ul-items-menu {
  width: 100%;
  border-top: 1px solid #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
.content-menu .menu-principal .ul-items-menu li.content-btn-entrar {
  width: 100%;
}
.content-menu .menu-principal .ul-items-menu li.content-btn-entrar a {
  width: 100%;
  display: flex;
  padding: 12px 30px;
  align-items: center;
  font-size: 1.1em;
  color: #161925;
  font-weight: 900;
}
.content-menu .menu-principal .ul-items-menu li.content-btn-entrar a span#label {
  margin-right: 5px;
}
.content-menu .menu-principal .ul-items-menu li.content-btn-entrar a span#icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../img/tema/icon-entrar.svg);
}
.content-menu .menu-principal .ul-items-menu li.item {
  width: 100%;
}
.content-menu .menu-principal .ul-items-menu li.item a {
  width: 100%;
  display: block;
  padding: 12px 30px;
  font-size: 1.1em;
  color: #161925;
  font-weight: 900;
}
.content-menu .menu-principal .ul-items-menu li.item:hover a {
  color: #FFFFFF;
  background-color: #3BF4FB;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu .btn-submenu-icon {
  transition: 0.3s;
  color: #161925;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo {
  color: #FFFFFF;
  background-color: #3BF4FB;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo .btn-submenu-icon {
  transform: rotate(90deg);
  transition: 0.3s;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .submenu {
  padding-left: 12px;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item a {
  background-color: #FFF;
  color: #161925;
}
.content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item:hover a {
  background-color: #2274A5;
  color: #fff;
}

.content-menu-aberto {
  top: 0;
  left: 0;
  transition: 0.3s;
}
.content-menu-aberto .menu-principal {
  transform: translateX(0);
  transition: 0.6s;
}
.content-menu-aberto .btn-menu {
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .container-cabecalho .content-logo-btn-menu .logo a {
    width: 130px;
    height: 32px;
    background-image: url(../../img/tema/logo.svg);
  }
  .container-cabecalho-dark .content-logo-btn-menu .logo a {
    width: 130px;
    height: 32px;
    background-image: url(../../img/tema/logo.svg);
  }
  .container-cabecalho-dark .content-logo-btn-menu.menu-aberto .logo a {
    width: 130px;
    height: 32px;
    background-image: url(../../../../img/tema/logo.svg);
  }
}
@media screen and (min-width: 990px) {
  .container-cabecalho {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
    backdrop-filter: blur(10px);
  }
  .container-cabecalho .content-logo-btn-menu .btn-menu {
    display: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu {
    height: 100%;
    width: auto;
    position: relative;
    left: inherit;
    background-color: transparent;
    transition: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal {
    width: auto;
    background-color: transparent;
    transform: none;
    padding: 0;
    transition: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu {
    padding: 0;
    height: 100%;
    flex-direction: row;
    border: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.content-btn-entrar {
    width: 100%;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.content-btn-entrar a {
    font-size: 1em;
    color: #161925;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item {
    width: auto;
    margin-right: 20px;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    font-size: 1em;
    color: #FFFFFF;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item:last-child {
    margin-right: 0;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item:hover a {
    color: #fff;
    border-radius: 4px;
    background-color: #00aaff;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu:hover .btn-submenu-ativo {
    border-radius: 4px;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu {
    display: flex;
    justify-content: space-between;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu .btn-submenu-icon {
    transition: 0.3s;
    color: #FFF;
    transform: rotate(90deg);
    margin-left: 30px;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo {
    color: #FFF;
    background-color: #3BF4FB;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .btn-submenu-ativo .btn-submenu-icon {
    transform: rotate(0deg);
    transition: 0.3s;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .submenu {
    padding-left: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
    position: absolute;
    border-radius: 0 0 3px 3px;
    padding-top: 10px;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item a {
    background-color: #3BF4FB;
    color: #FFF;
    border-radius: 0;
    cursor: pointer;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu .content-submenu .submenu .sub-item:hover a {
    color: #FFF;
    background-color: #00aaff;
  }
  .container-cabecalho-dark {
    background-color: #000;
  }
  .container-cabecalho-dark .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #FFF;
  }
  .container-cabecalho-dark .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.content-btn-entrar {
    width: 100%;
  }
  .container-cabecalho-dark .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.content-btn-entrar a {
    color: #FFFFFF;
  }
  .container-cabecalho-dark .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.content-btn-entrar a span#icon {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../../../../img/tema/icon-entrar-light.svg);
  }
  .container-cabecalho-dark .content-logo-btn-menu .content-menu-aberto .logo a {
    width: 130px;
    height: 32px;
    background-image: url(../../img/tema/logo-desktop.svg);
  }
}
@media screen and (min-width: 1280px) {
  .container-cabecalho {
    padding: 8px 0;
    padding-bottom: 0;
  }
  .container-cabecalho .content-logo-btn-menu {
    width: 1320px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=cabecalho.css.map */
