.section-home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../../img/tema/bg-grid.jpg") center/cover no-repeat;
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-home/fim-section-home;
}
.section-home .container {
  height: 100%;
  font-family: "Inter", sans-serif;
  padding-top: 25px;
}
.section-home .container .row-container {
  display: flex;
  flex-direction: column;
}
.section-home .container .row-container .content-titles-btns-acoes .title {
  font-size: 38px;
  font-weight: 900;
  color: #FFF;
  text-shadow: 0px 3px 8px #000017;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}
.section-home .container .row-container .content-titles-btns-acoes .subtitle-to-large {
  display: none;
}
.section-home .container .row-container .btns-acoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.section-home .container .row-container .btns-acoes .lista-btns-acoes {
  display: flex;
  flex-direction: column;
}
.section-home .container .row-container .btns-acoes .lista-btns-acoes li, .section-home .container .row-container .btns-acoes .lista-btns-acoes li a {
  display: block;
}
.section-home .container .row-container .btns-acoes .lista-btns-acoes .btn {
  width: 100%;
  margin: 0;
  margin-bottom: 17px;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 16px 48px #000017;
  border: 2px solid transparent;
}
.section-home .container .row-container .btns-acoes .lista-btns-acoes .btn:hover {
  border: 2px solid #1F2B35;
}
.section-home .container .row-container .btns-acoes .lista-btns-acoes .btn-criar-cartao {
  color: #FFF;
  background: #00f968;
}
.section-home .container .row-container .btns-acoes .lista-btns-acoes .btn-planos {
  background-color: #00aaff;
  color: #FFF;
}
.section-home .container .row-container .btns-acoes-large {
  display: none;
}
.section-home .container .row-container .content-image {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  position: relative;
}
.section-home .container .row-container .content-image .background-img {
  width: 179px;
  height: 100%;
  background-image: url(../../img/tema/smartphone-pequeno.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 9;
}
.section-home .container .row-container .content-image .cartao-example {
  width: 177px;
  height: 90%;
  background-color: #FFF;
  position: absolute;
  border-radius: 25px;
  overflow: hidden;
  background-image: url(../../img/tema/site.png);
  background-size: 99%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
.section-home .container .row-btn-iniciar .content-btn-iniciar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-home .container .row-btn-iniciar .content-btn-iniciar .btn-iniciar {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}
.section-home .container .row-btn-iniciar .content-btn-iniciar .btn-iniciar .icon-btn {
  width: 18px;
  height: 25px;
  background-image: url("../../img/tema/mouse.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-sobre {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-sobre/fim-section-sobre;
  background-color: #F6F8FA;
}
.section-sobre .container {
  font-family: "Inter", sans-serif;
  padding-top: 10px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration {
  display: flex;
  flex-direction: column;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  background-color: #fff;
  box-shadow: 0 16px 48px #e2e8ed;
  padding: 0px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .title {
  line-height: 35px;
  font-size: 32px;
  font-weight: 900;
  color: #1F2B35;
  margin-bottom: 30px;
  padding: 20px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .subtitle {
  color: #6F8394;
  border-left: 5px solid #3BF4FB;
  padding: 20px;
  line-height: 24px;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 50px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .subtitle .btn-acao-subtitle {
  color: #1F2B35;
  text-decoration: underline;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box {
  width: 70%;
  padding: 20px;
  border-radius: 25px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  box-shadow: 0 16px 48px #e2e8ed;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box .icon-box {
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box .icon-box .background-icon {
  display: block;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box .btn-expandir {
  margin-bottom: 5px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box .title-box {
  font-size: 25px;
  text-align: center;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box .content-infos .infos p {
  font-weight: 600;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box-compartilhamento .title-box {
  color: #3BF4FB;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box-compartilhamento .content-infos .infos {
  background: #3BF4FB;
  border-radius: 10px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box-compartilhamento .content-infos .infos p {
  color: #161925;
  padding: 10px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box-sustentabilidade .title-box {
  color: #00f968;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box-sustentabilidade .content-infos .infos {
  background: #00f968;
  border-radius: 10px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box-sustentabilidade .content-infos .infos p {
  color: #161925;
  padding: 10px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box-interatividade .title-box {
  color: #5271FF;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box-interatividade .content-infos .infos {
  background: #5271FF;
  border-radius: 10px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box-interatividade .content-infos .infos p {
  color: #161925;
  padding: 10px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-ilustration {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 16px 48px #e2e8ed;
  padding: 20px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-ilustration .title-ilustration p {
  line-height: 35px;
  font-size: 32px;
  font-weight: 900;
  color: #1F2B35;
  margin-bottom: 30px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-ilustration .vantagens-plataforma .title-lista {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-ilustration .vantagens-plataforma .lista-vantagens {
  display: flex;
  flex-direction: column;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-ilustration .vantagens-plataforma .lista-vantagens .item-lista {
  font-family: "Poppins", sans-serif;
  color: #6F8394;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-ilustration .vantagens-plataforma .lista-vantagens .item-lista .icon-item {
  display: block;
  width: 16px;
  height: 12px;
  margin-right: 8px;
  background-image: url(../../img/tema/chevron.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-ilustration .background-ilustration {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../../img/tema/ilustration-midias.gif);
}

.section-portfolio {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-portfolio/fim-section-portfolio;
}
.section-depoimentos {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-depoimentos/inicio-section-depoimentos;
}

.section-precos {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-precos/inicio-section-precos;
}
.section-precos .container .row-container-precos .col-precos .header-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  padding: 0 10px;
}
.section-precos .container .row-container-precos .col-precos .header-section .title {
  font-size: 28px;
  font-weight: 900;
  color: #1F2B35;
  margin-bottom: 28px;
  text-align: center;
  font-family: "Inter", sans-serif;
  transform: translateY(100%);
  opacity: 0.2;
  animation: 1.3s ease-out;
}
.section-precos .container .row-container-precos .col-precos .header-section .subtitle {
  color: #6F8394;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.section-precos .container .row-container-precos .col-precos .header-section .divisor-title {
  width: 100%;
  height: 23px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  transform: translateY(-80%);
  opacity: 0.2;
  animation: 1.3s ease-out;
}
.section-precos .container .row-container-precos .col-precos .header-section .subtitle {
  transform: translateY(-100%);
  opacity: 0.2;
  animation: 1.3s ease-out;
}
.section-precos .container .row-container-precos .col-precos .header-active .divisor-title {
  transform: translateY(0);
  opacity: 1;
  transition: 1.3s ease-in-out;
}
.section-precos .container .row-container-precos .col-precos .header-active .title {
  transform: translateY(0);
  opacity: 1;
  transition: 1.3s ease-in-out;
}
.section-precos .container .row-container-precos .col-precos .header-active .subtitle {
  transform: translateY(0);
  opacity: 1;
  transition: 1.3s ease-in-out;
}
.section-precos .container .row-container-precos .col-precos .box-planos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6%;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano {
  width: 340px;
  max-width: 340px;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 0 16px 48px #e2e8ed;
  padding-bottom: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .header-plano {
  padding: 10px 15px;
  border-radius: 20px 20px 0 0;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .header-plano .title-and-selo-plano {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .header-plano .title-and-selo-plano .title-plano {
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .header-plano .title-and-selo-plano .selo-plano {
  display: block;
  width: 40px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .header-plano .preco-plano {
  display: flex;
  align-items: center;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .header-plano .preco-plano span {
  color: #6F8394;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .header-plano .preco-plano span.valor {
  color: #1F2B35;
  padding: 0 7px;
  font-size: 28px;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .box-plano-features {
  margin-top: 30px;
  flex: 1;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .box-plano-features .lista-fatures {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .box-plano-features .lista-fatures .item-lista-feature {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .box-plano-features .lista-fatures .item-lista-feature .icon-item {
  width: 16px;
  height: 12px;
  display: block;
  margin-right: 14px;
  background-image: url(../../../../img/tema/check.svg);
  background-size: cover;
  background-position: center center;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .box-plano-features .lista-fatures .item-lista-feature .label-item {
  font-family: "Poppins", sans-serif;
  color: #1F2B35;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .content-btn-acao {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.section-precos .container .row-container-precos .col-precos .box-planos .content-plano .content-btn-acao .btn-acao {
  width: 70%;
  padding: 10px 15px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #161823;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 8px 16px rgba(31, 43, 53, 0.12);
  border: 1px solid #00f968;
  color: #00f968;
}
.section-precos .container .row-container-precos .col-precos .box-planos .plano-free {
  border: none;
}
.section-precos .container .row-container-precos .col-precos .box-planos .plano-free .header-plano {
  background: linear-gradient(to right, #00f968 100%, #ffffff);
}
.section-precos .container .row-container-precos .col-precos .box-planos .plano-free .content-btn-acao .btn-acao {
  color: #161823;
  border: 1px solid #00f968;
}
.section-precos .container .row-container-precos .col-precos .box-planos .plano-standard {
  border: none;
}
.section-precos .container .row-container-precos .col-precos .box-planos .plano-standard .header-plano {
  background: linear-gradient(to right, #00f968 100%, #ffffff);
}
.section-precos .container .row-container-precos .col-precos .box-planos .plano-standard .content-btn-acao .btn-acao {
  color: #161823;
  border: 1px solid #00aaff;
}
.section-precos .container .row-container-precos .col-precos .box-planos .plano-premium {
  border: none;
}
.section-precos .container .row-container-precos .col-precos .box-planos .plano-premium .header-plano {
  background: linear-gradient(to right, #00f968 100%, #ffffff);
}
.section-precos .container .row-container-precos .col-precos .box-planos .plano-premium .content-btn-acao .btn-acao {
  color: #161823;
  border: 1px solid #D2E823;
}

@media screen and (min-width: 768px) {
  .section-home .container {
    padding-top: 40px;
    font-family: "Inter", sans-serif;
  }
  .section-home .container .row-container .content-titles-btns-acoes .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
  }
  .section-home .container .row-container .btns-acoes {
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
  }
  .section-home .container .row-container .btns-acoes .lista-btns-acoes {
    flex-direction: row;
  }
  .section-home .container .row-container .btns-acoes .lista-btns-acoes .btn-criar-cartao {
    margin-left: 30px;
  }
  .section-home .container .row-container .btns-acoes .lista-btns-acoes .btn {
    width: 220px;
    padding: 15px;
    font-size: 16px;
  }
  .section-home .container .row-container .btns-acoes-large {
    display: flex;
  }
  .section-home .container .row-container .btns-acoes-small {
    display: none;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration {
    flex-direction: row;
    justify-content: space-between;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre {
    width: 55%;
    justify-content: flex-start;
    margin-bottom: 0;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .title {
    padding: 30px;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .subtitle {
    padding: 30px;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .infos-and-ilustration {
    padding: 30px;
    padding-top: 0;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-ilustration {
    flex: 1;
    padding: 30px;
    margin-left: 15px;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-ilustration .title-ilustration p {
    line-height: 35px;
    font-size: 32px;
    font-weight: 900;
    color: #1F2B35;
    margin-bottom: 30px;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-ilustration .background-ilustration {
    width: 78%;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../../img/tema/ilustration-midias.gif);
  }
  .section-precos {
    grid-column: inicio-left/fim-rigth;
    grid-row: inicio-section-precos/inicio-section-precos;
  }
  .section-precos .container .row-container-precos .col-precos .box-planos {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .section-precos .container .row-container-precos .col-precos .box-planos .content-plano {
    width: 30%;
    max-width: 30%;
  }
}
@media screen and (min-width: 990px) {
  .section-home .container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    justify-content: space-between;
  }
  .section-home .container .row-container {
    flex-direction: row;
  }
  .section-home .container .row-container .content-titles-btns-acoes {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
  .section-home .container .row-container .content-titles-btns-acoes .title {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    line-height: 70px;
  }
  .section-home .container .row-container .content-titles-btns-acoes .subtitle {
    display: none;
  }
  .section-home .container .row-container .content-titles-btns-acoes .subtitle-to-large {
    display: flex;
    margin-top: 30px;
    color: #FFF;
    text-align: left;
    font-weight: 700;
    line-height: 24px;
    font-size: 1.3em;
  }
  .section-home .container .row-container .content-titles-btns-acoes .btns-acoes {
    justify-content: flex-start;
    margin-top: 70px;
  }
  .section-home .container .row-container .content-image {
    flex: 1;
    align-items: flex-start;
    padding-top: 0;
    justify-content: flex-end;
  }
  .section-home .container .row-container .content-image .background-img {
    width: 278px;
    height: 563px;
  }
  .section-home .container .row-container .content-image .cartao-example {
    width: 278px;
    height: 563px;
    border-radius: 40px;
  }
  .section-home .container .row-btn-iniciar .content-btn-iniciar {
    padding: 15px 0;
  }
  .section-sobre .container {
    padding-top: 30px;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 50px;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section-sobre .container .row-container-intro .col-tiles-box-ilustration .box-titles-section-sobre .boxes-vantagens .box {
    width: 40%;
  }
}

/*# sourceMappingURL=page-home.css.map */
