@charset "UTF-8";
@import url("../fonts/poppins.css");
@import url("../fonts/inter.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F6F8FA;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.paraliza-body {
  overflow: hidden;
}

.container-principal {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: [inicio-left] 6% [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 6% [fim-rigth];
  grid-template-rows: [inicio-section-home] 100vh [fim-section-home] 0 [inicio-section-sobre] auto [fim-section-sobre] 0 [inicio-section-seja-parceiro] auto [fim-section-seja-parceiro];
}
.section {
  padding: 15px;
  padding-top: 0;
  font-family: "Inter", sans-serif;
}
.section .container{
  background-color: #FFFFFF;
}
.section.section-home .container{
  background-color: transparent;
}
.section .container .row-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.section .container .row-container .col-box-content .box-content{
  display: flex;
  flex-direction: column;
}

.section .container .row-container .col-box-content .box-content .titles{
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.section .container .row-container .col-box-content .box-content .titles .title{
  line-height: 35px;
  font-size: 32px;
  font-weight: 900;
  color: #1F2B35;
  margin-bottom: 30px;
}

.section .container .row-container .col-box-content .box-content .titles .subtitle{
  font-weight: normal;
}

.contente-btn-volta-topo {
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 9;
}
.contente-btn-volta-topo .btn-volta-top {
  padding: 8px 6px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background-color: rgba(31, 43, 53, 0.74);
  border-radius: 3px;
  display: none;
}
.contente-btn-volta-topo .btn-volta-top .icon-btn {
  display: block;
  width: 20px;
  height: 12px;
  background-image: url(../../img/tema/chevron-up.svg);
  background-position: center center;
  background-position: center;
  background-size: cover;
}
.contente-btn-volta-topo .btn-volta-top-visivel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-preloader {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  /* Animação do spinner */
}
.container-preloader .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-preloader .content .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #FFFFFF;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 30px;
}
.container-preloader .content .box-mensagem-loanding .mensagem-loanding {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 460px) {
  .container-principal .section {
    padding: 0 15px;
  }
  .container-principal .section .container {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container-principal .section {
    padding: 0;
  }
  .container-principal .section .container {
    width: 720px;
    margin: 0 auto;
  }
  .section .container .row-container .col-box-content .box-content {
    flex: 1;
    padding: 30px;
  }
}
@media screen and (min-width: 990px) {
  .container-principal {
    grid-template-rows: [inicio-section-home] 100vh [fim-section-home] 0px [inicio-section-sobre] auto [fim-section-sobre] 0 [inicio-section-seja-parceiro] auto [fim-section-seja-parceiro];
  }
  .container-principal .section {
    padding: 0;
    padding-top: 20px;
    min-width: 100vh;
  }
  .container-principal .section .container {
    width: 990px;
    height: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .container-principal .section .container {
    width: 1280px;
    margin: 0 auto;
  }
}
/************ANIMAÇÕES LATERAIS************/
.content-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
}
.content-infos .btn-expandir {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  border-radius: 100%;
  text-align: center;
}
.content-infos .btn-expandir .icon-btn {
  display: block;
  width: 20px;
  height: 12px;
  background-image: url(../../../../../resources/img/tema/chevron-down.svg);
  background-position: center center;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}
.content-infos .infos {
  max-height: 0;
  transition: 0.3s;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.content-infos-open .btn-expandir .icon-btn {
  transform: rotate(180deg);
  transition: 0.3s;
}

.content-infos-open .btn-expandir .icon {
  color: #333;
  padding: 5px;
  transform: rotate(180deg);
  transition: 0.3s;
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-18 12:21:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-18 12:35:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.ping {
  -webkit-animation: ping 0.8s ease-in-out infinite both;
  animation: ping 0.8s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-18 12:38:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}


.container-rodape {
  margin-top: 30vh;
  padding: 15px;
  background-color: #444;
}
@media screen and (min-width: 990px) {
  .container-rodape {
    padding: 15px 60px;
  }
}
@media screen and (min-width: 1280px) {
  .container-rodape {
    padding: 15px 0;
  }
  .container-rodape .content-rodape {
    width: 1280px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=includes.css.map */
