.section-precos {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-precos/fim-section-precos;
  background-color: #F6F8FA;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration {
  display: flex;
  flex-direction: column;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration .box-ilustration .title-ilustration p{
  line-height: 35px;
  font-size: 32px;
  font-weight: 900;
  color: #1F2B35;
  margin-bottom: 30px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration .box-ilustration .content-section{
  display: flex;
  flex-direction: column;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration .box-ilustration .content-section .precos-plataforma{
  margin-bottom: 20px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration .box-ilustration .content-section .precos-plataforma .title-lista {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration .box-ilustration .content-section .precos-plataforma .lista-planos{
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px){
 .section-precos .container .row-container-precos .col-titles-box-ilustration 
 .box-ilustration .content-section .precos-plataforma .lista-planos{
  flex-direction: row;
  justify-content: space-around;
 }
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos{
  max-width: 400px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin-bottom: 30px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .header-plano{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .header-plano .icon-header{
  width: 1.3em;
  height: 1.3em;
  background-image: url(../../img/tema/circle-check-white.svg);
  background-size: cover;
  background-position: center;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .header-plano .title-plano{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  color: #FFFFFF;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco{
  width: 100%;
  padding: 0 10px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-de{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid #efefef;
  position: relative;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-de .value-preco{
  font-size: 1.2em;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-de .value-preco,
.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-de .moeda-preco,
.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-de .label-mensalidade{
  color: #ccc;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-de .value-preco::after,
.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-de .value-preco::before{
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #1F2B35;
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(5deg);
}
.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-de .value-preco::before{
  transform: rotate(-5deg);
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-por{
  display: flex;
  justify-content: center;
  padding: 30px 0;
  border-bottom: 1px solid #efefef;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-por .value-preco{
  line-height: 35px;
  font-size: 32px;
  font-weight: 900;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-por .moeda-preco,
.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-por .label-mensalidade{
  font-weight: 600;
  cursor: pointer;
}
.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-preco .content-preco-por .label-mensalidade{
  align-self: flex-end;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-descricao{
  padding: 10px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-descricao .content-descricao{
  padding: 10px;
  background: #efefef;
  border-radius: 10px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-descricao .content-descricao .descricao{
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #465161;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-especificacoes{
  padding: 10px 10px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-especificacoes .lista-especificacoes{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-especificacoes .lista-especificacoes .item-lista-especificacoes{
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-especificacoes .lista-especificacoes .item-lista-especificacoes 
.icon-especificacao{
  width: 16px;
  height: 16px;
  background-image: url(../../img/tema/check.svg);
  background-size: cover;
  background-position: center;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-especificacoes .lista-especificacoes .item-lista-especificacoes
.content-title{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 3px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-especificacoes .lista-especificacoes .item-lista-especificacoes
.content-title .label-especificacao{
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #465161;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-especificacoes .lista-especificacoes .item-lista-especificacoes
.content-tooltip{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-btns-acoes{
  padding: 20px 10px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-btns-acoes .content-btn-principal{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-btns-acoes .content-btn-principal .btn-principal{
  min-width: 230px;
  padding: 10px 15px;
  border: none;
  color: #FFFFFF;
  border-radius: 6px;
  font-size: .9em;
  font-weight: 600;
  cursor: pointer;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-btns-acoes .content-btn-principal .btn-principal a{
  color: #FFFFFF;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos
.content-plano .box-btns-acoes .content-btn-principal .btn-principal:hover{
  transform: scale(1.1);
}

/* Especificidades por plano owner */
.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos.plano-owner
.content-plano .header-plano{
  background-color: #00aaff;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos.plano-owner
.content-plano .box-preco{
  color: #00aaff;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos.plano-owner
.content-plano .box-btns-acoes .content-btn-principal .btn-principal{
  background-color: #00aaff;
}

/* Fim especificidades por plano owner */

/* Especificidades por plano agency */
.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos.plano-agency
.content-plano .header-plano{
  background-color: #845adf;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos.plano-agency
.content-plano .box-preco{
  color: #845adf;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos.plano-agency
.content-plano .box-btns-acoes .content-btn-principal .btn-principal{
  background-color: #845adf;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos.plano-agency
.content-plano .box-btns-acoes .content-info-recomendado{
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.section-precos .container .row-container-precos .col-titles-box-ilustration 
.box-ilustration .content-section .precos-plataforma .lista-planos .item-lista-planos.plano-agency
.content-plano .box-btns-acoes .content-info-recomendado .label-recomendado{
  color: #845adf;
  padding: 5px;
  border: 1px solid #845adf;
  border-radius: 10px;
  font-size: .75em;
  font-weight: 600;
}


/* Fim especificidades por plano agency */




div.tooltip{
  width: 20px;
  height: 20px;
  font-size: .8em;
  background-color: #ccc;
  position: relative;
  border-radius: 50%;
  border: 2px solid #726d6d;
  cursor: pointer;
}

div.tooltip span.icon{
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 600;

}

div.tooltip span.info-label{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 300px;
  max-width: 370px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  z-index: 99;
}

div.tooltip:hover  span.info-label{
  display: flex;
  flex-direction: column;
}

div.tooltip span.info-label .btn-demo-especificacao{
  color: #00aaff;
}